@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400,500,700|Roboto:400,500|Montserrat:300,400,500,600,200,700|Poppins:200,300,400,500,600,700|Inter:200,300,400,500,600,700");

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: max-content;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  height: 75px;
  color: grey;
}

.logo {
  border: 1px solid rgb(232, 232, 232);
  width: max-content;
}
.logo img {
  cursor: pointer;
  margin: 20px;
  width: 140px;
  height: 30px;
}

.header {
  border: 1px solid rgb(232, 232, 232);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuesquerda {
  width: 100%;
  display: flex;
  cursor: pointer;
  gap: 25px;
  margin-left: 20px;
}

a:hover {
  color: black;
}

.menudireita {
  margin: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 245px;
}
.menudireita button {
  cursor: pointer;
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(48, 199, 204);
}
.menudireita button:hover {
  background-color: rgb(58, 157, 134);
}
.menudireita i {
  cursor: pointer;

  font-size: x-large;
}

.main {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main label {
  font-size: x-large;
  display: flex;
  padding-top: 15px;
}
.main h1 {
  font-size: xx-large;
  display: flex;
  padding-top: 15px;
}

.main h2 {
  font-size: larger;
  display: flex;
  padding-top: 15px;
}
.main div {
  margin-top: 25px;
}
.main button {
  cursor: pointer;
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(19, 57, 59);
}

.main button:hover {
  color: rgb(19, 57, 59);
  background-color: white;
  border: 1px solid rgb(19, 57, 59);
}

.central {
  display: flex;
  justify-content: center;
}
.central img {
  height: 500px;
  width: 700px;
}
